# ignore out folder and sub-folder
out/

# ignore dynamicaly generated header files in App folder
app/variant_cm4_stm32l4/prog/MyVariant.h
app/variant_cm4_stm32l4/prog/ramLoader.h
app/variant_cm4_stm32l4/prog/romLoader.h

# ignore dynamically generated UV(Keil µVision) files
*uv/
# except the following files
uv/ThreadX_Project.uvoptx
uv/ThreadX_Project.uvprojx
uv/ThreadX_Project_path.ini
uv/JLinkSettings.ini
uv/Gen_project_path_ini.bat
uv/Templates/uvision_template.ini

