
[submodule "common"]
	path = common
	url = ../../Generic/Framework.git
[submodule "ext/rtos"]
	path = ext/rtos
	url = ../../RealTimeOS/rtos.git
[submodule "ext/ssb"]
	path = ext/ssb
	url = ../../Generic/ssb
[submodule "ext/bsp"]
	path = ext/bsp
	url = ../../ECU-BuildingBlocks/bsp
[submodule "ext/services"]
	path = ext/services
	url = ../../ECU-BuildingBlocks/services
