/* frdm_rw612.overlay
 * SPI-Master setup for FRDM-RW612 using Flexcomm1
 */

#include <nxp/rw/RW612-pinctrl.h>

/ {
    aliases {
        dbus-spi = &flexcomm1;  // alias for convenience
    };

    chosen {
        zephyr,spi = &flexcomm1;
    };
};

&hsgpio0 {
    status = "okay";
    pinctrl-0 = <&pinmux_dbus_cs_gpio10
                 &pinmux_endswitch_gpio1
                 &pinmux_endswitch_gpio2
                 &pinmux_endswitch_gpio15
                 &pinmux_endswitch_gpio4
                 &pinmux_endswitch_gpio5
                 &pinmux_endswitch_gpio11>;
    pinctrl-names = "default";
};

/* --- Define pin configuration for SPI --- */
&pinctrl {
    pinmux_dbus_cs_gpio10: pinmux_dbus_cs_gpio10 {
        group0 {
            pinmux = <0x30a>; /* GPIO10 as HSGPIO0_10 for secondary Pico CS */
            slew-rate = "normal";
        };
    };

    pinmux_endswitch_gpio1: pinmux_endswitch_gpio1 {
        group0 {
            pinmux = <0x301>; /* GPIO1 as HSGPIO0_1 for motor0 end-switch min/home */
            slew-rate = "normal";
        };
    };

    pinmux_endswitch_gpio2: pinmux_endswitch_gpio2 {
        group0 {
            pinmux = <0x302>; /* GPIO2 as HSGPIO0_2 for motor0 end-switch max/end */
            slew-rate = "normal";
        };
    };

    pinmux_endswitch_gpio15: pinmux_endswitch_gpio15 {
        group0 {
            pinmux = <0x30f>; /* GPIO15 as HSGPIO0_15 for motor1 end-switch min/home */
            slew-rate = "normal";
        };
    };

    pinmux_endswitch_gpio4: pinmux_endswitch_gpio4 {
        group0 {
            pinmux = <0x304>; /* GPIO4 as HSGPIO0_4 for motor1 end-switch max/end */
            slew-rate = "normal";
        };
    };

    pinmux_endswitch_gpio5: pinmux_endswitch_gpio5 {
        group0 {
            pinmux = <0x305>; /* GPIO5 as HSGPIO0_5 for motor2 end-switch min/home */
            slew-rate = "normal";
        };
    };

    pinmux_endswitch_gpio11: pinmux_endswitch_gpio11 {
        group0 {
            pinmux = <0x30b>; /* GPIO11 as HSGPIO0_11 for motor2 end-switch max/end */
            slew-rate = "normal";
        };
    };

    flexcomm1_spi_default: flexcomm1_spi_default {
        group0 {
            pinmux = <0x18807>,  /* SCK  -> GPIO7   */
                     <0x18809>,  /* MOSI -> GPIO9   */
                     <0x18808>,  /* MISO -> GPIO8   */
                     <0x18806>;  /* SSEL0 -> GPIO6  */
            slew-rate = "normal";
        };
    };
};

/* --- Forcefully override SPI controller node --- */
&{/soc/peripheral@50000000/flexcomm@107000} {
    status = "okay";
    compatible = "nxp,lpc-spi";
    pinctrl-0 = <&flexcomm1_spi_default>;
    pinctrl-names = "default";
    label = "DBUS_SPI";
    /* CS is handled manually via HSGPIO GPIO6/GPIO10 in dbus_driver.c. */
    clock-frequency = <125000>; /* Set to 125kHz as per working BSHG example */
};
