config PRINTK_WAITTIME_MS
    int "Waittime in ms"
    default 100
    help
      Defines the waittime in ms after which
      "Hello World!" is printed to the console

source "Kconfig.zephyr"

config DBAL_CROSS_CONNECTION
	bool "Enable DBAL Cross Connection"
	default n
	help
		Enable this option to allow cross-connection functionality in the DBus Application Layer.

config DBAL_TARGET_ADDRESS
	hex "DBAL Target Address"
	default 0x00
	help
		Defines the target address for the DBus Application Layer.
		This address is used to identify the communication partner.