menu "DBus Application Layer Configuration"

config DBAL_CROSS_CONNECTION
    bool "Enable DBAL Cross Connection"
    default y
    help
        Enable support for DBAL cross-connection features.

config DBAL_TX_THREAD_STACK_SIZE
    int "DBAL Transmit Thread Stack Size"
    default 4096
    depends on DBAL_CROSS_CONNECTION
    help
        Stack size for the DBus Application Layer Transmit Thread.

config DBAL_RX_THREAD_STACK_SIZE
    int "DBAL Receive Thread Stack Size"
    default 4096
    depends on DBAL_CROSS_CONNECTION
    help
        Stack size for the DBus Application Layer Receive Thread.

config DBAL_TARGET_ADDRESS
    hex "DBAL Target Address"
    default 0x01
    help
        The target address for DBAL communication.

endmenu